@tailwind base;

:root {
  --topNavHeight: 60px;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    font-family: "Open Sans", sans-serif;
    @apply flex;
    @apply flex-col;
    @apply h-screen;
    @apply w-screen;
    @apply m-0;
    @apply overscroll-none;
    @apply overflow-hidden;
    @apply bg-slate-50;
    @apply text-gray-800;
  }

  #app {
    @apply flex;
    @apply flex-col;
    @apply w-screen;
    @apply h-screen;
    @apply overflow-hidden;
  }

  #top-nav {
    height: var(--topNavHeight);
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply bg-slate-700;
    @apply text-white;
  }

  .top-nav-offset {
    margin-top: var(--topNavHeight);
    padding-bottom: var(--topNavHeight);
    @apply flex;
    @apply flex-row;
    @apply w-full;
    @apply h-full;
  }

  .content-wrapper {
    @apply flex;
    @apply flex-col;
    @apply flex-1;
    @apply w-full;
    @apply h-full;
    @apply overflow-auto;
  }

  .centered-container {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
  }

  h1 {
    @apply text-lg;
    @apply font-semibold;
    @apply text-gray-800;
    @apply dark:text-gray-100;
    @apply mb-3;
  }

  p {
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;
